.center{
    text-align: center;
    align-items: center;
}
p {
    font-size: 20px;
}

.navbar{
    display: block;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 1000px;
    margin-right: 100px;
}

body{
    background-color: rgb(231, 215, 215);
    
}

a{
    color: rgb(2, 11, 19);
    text-decoration: none;
    
}

a:hover {
    color: blue;
}

