.center{
    text-align: center;
    align-items: center;
}
p {
    font-size: 20px;
}



#navbar-outline{
    background-color:  rgb(41, 36, 36);
}

.navbar{
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    overflow: hidden;
}

body{
    background-color: rgb(16, 15, 15);
    color: rgb(111, 140, 167);
}

a{
    color: rgb(98, 163, 219);
    text-decoration: none;
}

a:hover {
    color: rgb(56, 56, 104);
}

.button{
    size: 100px;
}
